@import './assets/styles/_mixins';

.App {
	background: #2b3252;  /* fallback for old browsers */
	text-align: center;
	padding-bottom: 30px;

	.App-glass {
		position: fixed;
		left: 0; right: 0; top: 0; bottom: 0;
		z-index: 99;
		&:before {
			content: '';
			background: inherit; 
			position: absolute;
			left: 0;
			right: 0;
			top: 0; 
			bottom: 0;
			box-shadow: inset 0 0 0 3000px #ffffff4d;
			filter: blur(100px);
		}
	}

	.App-notifier {
		@include transition(right, 0.03s, ease);
		position: fixed;
		z-index: 999;
		bottom: 15px;
		right: -320px;

		.keypad {
			float: left;
			.text {
				padding: 0 12px;
			}
		}

		.bot {
			@include border-radius(50%);
			float: right;
			margin-left: 6px;
			&, img {
				height: 45px;
				width: 45px;
				line-height: 45px;
			}
			padding: 0 !important;
			img {
				margin: 0 !important;
			}
		}
		
		.keypad {
			@include box-shadow(1px, 1px, 1px, #111);
			background-color: #111 !important;
			border: solid 1px #999;
		}

		&.active {
			right: 15px;
		}

		&.error {
			.keypad {
				background-color: #ef5455 !important;
				color: #fff;
				* {color: #fff;}
			}
		}
	}
	
	.App-header {
		background-color: #ef5455;
		color: #2b3252;
		padding: 21px;
		padding-bottom: 54px;
		margin-bottom: 27px;
	}

	.App-searcher {
		@include border-radius(9px);
		@include box-shadow(1px, 1px, 1px, #111);
		background-color: #444b69;
		padding: 9px;
		margin-top: -60px;
		form {
			@include transition(box-shadow, 0.3s, ease);
			@include border-radius(9px);
			background-color: #2b3252;
			position: relative;
			padding: 12px 15px !important;
			input[type=text] {
				font-size: 15px;
				background-color: #2b3252;
				color: #fad744;
			}
			button {
				position: absolute;
				top: 7px;
				right: 8px;
			}
		}

		// App-searcher
		&.active {
			@include box-shadow(2px, 2px, 2px, #111);
		}
	}

	.App-commander {
		position: fixed;
		z-index: 999;
		top: 15px;
		left: 15px;
		padding: 0;

		.logo {
			@include transition(margin-left, 0.3s, ease);
			margin: 0;
			float: left;
			margin-right: 9px;
			margin-left: -300px;
			img {
				@include border-radius(50%);
				width: 54px;
				height: 54px;
			}
		}
		
		.dashboard {
			@include border-radius(21px);
			@include transition(left, 0.3s, ease);
			@include bg-tr;

			margin-top: 3px;
			left: -300px;
			position: absolute;
			width: 240px;
			padding: 9.6px;

			.dashboard-top {
				text-align: right;
				margin-bottom: 9px !important;
				position: relative;
				text-align: left;
				h5 {
					color: #fff;
					text-shadow: 1px 1px 1px #111;
					padding-left: 6px;
					left: 0;
					bottom: 0;
					margin: 0;

					&.centered {
						text-align: center !important;
						display: block;
					}

					small {
						font-weight: normal;
						margin-left: 6px;
						position: absolute;
						bottom: 0;
						right: 6px;
					}
				}
			}

			.do {
				display: inline-block;
				&:last-child {
					margin-bottom: 0 !important;
				}
			}
		}

		/*.App-commander*/
		&.opened {
			.logo {
				margin-left: 0 !important;
			}

			.keypad {
				display: inline-block;
			}

			.dashboard {
				left: 0;
				top: 60px;
			}
		}
	}
	
	.App-board {
		width: 600px;
		margin: 0 auto;
		color: #fad744;

		.App-board-panel {
			.keypad.board-panel-keypad {
				background: none !important;
				overflow: auto;
				padding: 3px 0;
				margin: 12px 0;
				text-align: left;
				.text {
					margin-top: 3px;
					margin-left: 6px;
					span {
						font-size: 18px;
						line-height: 24px;
						font-weight: bold;
					}
					small {
						font-size: 12px;
						margin-left: 6px;
					}
				}

				.do {
					float: right;
				}
			}
		}

		.form {
			margin-bottom: 15px;
			.keypad {
				display: inline-block;
			}
		}
	}	
}

form {
	input, textarea, select {
		outline: none;
		border: none;
		width: 100%;
		&::placeholder {
			color: #586083;
		}
	}
}

.form {
	.field {
		background-color: #586083;
		@include border-radius(9px);
		padding: 6px;
		margin-bottom: 6px;
		&:last-child {
			margin-bottom: 0;
		}
		input, textarea, select {
			@include border-radius(6px);
			background-color: #2b3252;
			color: #fff;
			padding: 6px 9px;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;
			font-size: 14px;
			display: inline-block !important;
		}
	}
	.keypad {
		margin-top: 15px;
	}
}

.paginator {
	text-align: center;
	.keypad {
		float: none !important;
		display: inline-block;
		.do-circular {
			font-size: 12px;
		}
	}
}

.keypad {
	@include border-radius(30px);
	@include bg-tr;
	padding: 7.2px;

	.do, .text {
		margin-right: 7.2px !important;
		&:last-child {
			margin-right: 0 !important;
		}
	}

	.text {
		display: inline-block;
		color: #fff;
		font-size: 11px;
		line-height: 33px;
		text-shadow: 1px 1px 1px #333;
	}
}

.list-item {
	@include box-shadow(1px, 1px, 1px, #111111);
	@include border-radius(9px);
	text-align: left;
	color: #fff;
  	padding: 3px;
	background-color: #444b69;
	position: relative;
	
	.keypad {
		@include border-radii(0, 9px, 0, 9px);	
		@include transition(visibility, 0.3s, ease);
		@include transition(opacity, 0.3s, ease);
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		.do {
			text-align: center;
			font-size: 9px;
		}
	}

	&:hover {
		@include box-shadow(2px, 2px, 2px, #111111);
		cursor: pointer;
		& > .keypad {
			visibility: visible;
			opacity: 1;
		}
	}
}

.do {
	@include border-radius(33px);
	@include transition(box-shadow, 0.09s, ease);
	@include box-shadow(0.6px, 0.6px, 0.6px, #111);
	outline: none;
	text-decoration: none;
	display: inline-block;
	padding: 9px 21px 9px;
	font-size: 14px;
	margin: 0 !important;
	background-color: #444b69;
	color: #fff;
	border: solid 1px #444b69;

	&.do-primary,
	&.do-success {
		background-color: #0d1138;
		color: #fad744;
	}

	&.do-secondary {
		background-color: #fad744;
		color: #fefeff;
	}

	&.do-danger {
		background-color: #ef5455;
		color: #fff;
	}

	&:hover,
	&:active,
	&.active {
		@include box-shadow(2px, 2px, 2px, #111);
		cursor: pointer;
	}
	
	&.do-circular {
		@include border-radius(50%);
		display: inline-block;
		height: 33px;
		width: 33px;
		line-height: 33px;
		padding: 0;
	}

	&:not(.do-circular) .fas {
		margin-left: -9px;
		margin-right: 9px;
	}
}