@import './../../assets/styles/_mixins';

.App-author {
    position: relative;
    .author-info {
        text-align: left;
        margin-bottom: 30px;
        .author-info-picture {
            text-align: center;
            height: 90px;
            line-height: 90px;
            img {
                width: 90px;
                height: 90px;
            }
        }

        .author-info-text {
            h2, p {
                text-align: center;
                padding: 0;
                margin: 0;
            }

            h2 {
                margin-bottom: 12px;
            }

            p {
                margin-bottom: 12px;
                p:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }
}

.author-list {
    // flex-wrap: wrap; /* Grid Fallback */
  /* Supports Grid */
    display: grid;
    height: initial;
    text-align: center;
    margin-bottom: 15px;
    .list-item {
        @include transition(box-shadow, 0.3s, ease);
        text-align: center;
        margin: 0 0 9px;
        padding: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        h4, p {
            margin: 0;
        }
        h4 { font-size: 13px;}
        p {font-size: 11px;}

        .keypad {
            padding: 4px;
            position: absolute;
            bottom: 3px;
            right: 3px;
            .do {
                text-align: center;
                font-size: 9px;
                margin-right: 3px !important;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }
}